{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="main">
        <h2>О магазине</h2>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm">
                    <p>Мы рады приветствовать Вас на сайте нашего магазина.</p>
                    <p>Наш магазин был основана в 2014 году и специализируется на продаже одежды.</p>
                    <p>
                        Мы имеем свой склад с постоянным наличием необходимого запаса товаров, отдел продаж и службу доставки.
                        За это время у нас сложились партнерские отношения с ведущими производителями, позволяющие предлагать высококачественную продукцию по конкурентоспособным ценам.
                        Мы можем гордиться  тем, что предлагаем  один из самых широких ассортиментов на рынке одежды.
                    </p>
                    <p>
                        Наши возможности:
                        <ul>
                            <li>Широкий ассортимент</li>
                            <li>Профессиональные менеджеры</li>
                            <li>Низкие цены</li>
                            <li>Отличное обслуживание</li>
                            <li>Гарантия на все товары</li>
                            <li>Надежные поставщики</li>
                            <li>Быстрая доставка</li>
                            <li>Программа лояльности</li>
                            <li>Сезонные скидки</li>
                       </ul>
                    </p>
                    <p>Мы всегда рады общению с нашими клиентами. Если у Вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина - пишите нам, и мы с благодарностью примем Ваше мнение во внимание:</p>
                    <p>Электронная почта: <b>suhrobhotamov496@gmail.com</b></p>
                </div>
            </div>
        </div><br>
    </div>
{% endblock %}