{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
    <div id="main">
        <h2>Детская одежда</h2>
        <div class="products clearfix">
            {% for cloth in clothes %}
                <div class="product-wrapper">
                    <a href="" class="product">
                        <div class="product-photo">
                            <img src="/{{ cloth.images.first.images }}">
                        </div>
                        <div class="product-text">
                            <h4 id="title" class="cut">{{ cloth.title }}</h4>
                            {% if cloth.discount > 0 %}
                                <h4><span id="discount">{{ cloth.price }} ₽</span> <span id="cost_calc">{{ cloth.price|sub:cloth.discount }} ₽</span> </h4>
                            {% else %}
                                <h4 id="cost">{{ cloth.price }} ₽</h4>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
