{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="main">
        <h2>Введите данные для регистрации</h2>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Регистрация</button>
                    </form>
                </div>
            </div>
        </div><br>
    </div>
{% endblock %}