nav {
    position: fixed;
    margin: 10px;
}

h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    margin-right: 10px;
    margin-left: 10px;
}

.container img {
    width: 98%;
    height: 98%;
    margin-right: 0px;
    margin-left: 0px;
}

.type {
    text-align: center;
    margin: 5px;
    padding: 5px;
    display: block;
}

.btn {
    background-color: #FF8400FF !important;
    color: white!important;
}

.buttons {
    margin-left: auto;
    margin-right: 0;
}

#page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: #ff8400;
    padding: 10px;
    margin-top: auto;
}

.container {
    padding: 10px;
}

.container span {
    color: white;
}

#main {
    padding: 10px;
}

#sub {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.product-wrapper {
	display: inline-block;
	width: 100%;
	float: left;
	transition: width .2s;
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}

.product {
	display: block;
	border: 1px solid #ff8400;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	min-height: 360px;
	min-width: 100px;
}

.products {
	list-style: none;
	margin: 0 -20px 0 0;
	padding: 0;
}

.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product:hover .product-photo img {
	transform: scale(1.05);
}

.product p, .product h4 {
	position: relative;
	margin: 2px;
	padding: 2px;
	overflow: hidden;
	text-align: center;

}

#cost {
	color: #ff8400;
}

#discount {
	display: inline-block;
	float: left;
	color: #9b9999;
	text-decoration: line-through;
	margin-left: 40px;
}

#cost_calc {
	color: #ff8400;
	display: inline-block;
	float: right;
	margin-right: 30px;
}

#product-text {
	display: block;
	min-height: 70px;
	min-width: 70px;
}

#main_index a {
	text-decoration: none;
	color: #000000;
	padding: 10px;
}

img:hover {
	transform: scale(1.05);
	transition-duration: 1s, 1s;
}