nav {
    position: fixed;
    margin: 10px;
}

h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    margin-right: 10px;
    margin-left: 10px;
}

.container img {
    width: 98%;
    height: 98%;
    margin-right: 0px;
    margin-left: 0px;
}

.type {
    text-align: center;
    margin: 5px;
    padding: 5px;
    display: block;
}

.btn {
    background-color: #FF8400FF !important;
    color: white!important;
}

.buttons {
    margin-left: auto;
    margin-right: 0;
}

#page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: #ff8400;
    padding: 10px;
    margin-top: auto;
}

.container {
    padding: 10px;
}

.container span {
    color: white;
}

#main {
    padding: 10px;
}

#sub {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}